#####################################################################
#  Terraform Config                                                 #
# -==============================================================-  #
#                                                                   #
#  Removing `*.tfstate` from your .gitignore will allow             #
#  you to persist your terraform state in the repository (insecure) #
#####################################################################
*.tfstate
**/.terraform
**/*.backup
**/*.tfstate.*

#####################################################################
#  Temp & local dev                                                 #
#####################################################################
.tmp
/wordpress
backup
node_modules
secrets.json

#####################################################################
#  Misc                                                             #
#####################################################################
.DS_Store
*.env

#####################################################################
#  IDE Specific                                                     #
#####################################################################
.vscode